<div *ngIf="isLoading" class="row justify-content-center">
  <i class="fas fa-hourglass-start animated rotateOut infinite slow"></i>
</div>
<div *ngIf="!isLoading" class="row justify-content-center animated fadeInUp">
  <div class="col-lg-6 col-md-8 col-sm-12 col-12">
    <div class="jumbotron">
      <h2 style="font-size: 1.5rem"><strong>N°{{ todo.id }} - </strong> {{ todo.title }}</h2>
      <hr>
      <p><strong>User Id - </strong>{{ todo.userId }}</p>
      <p><strong>Completed - </strong>{{ todo.completed }}</p>
    </div>
  </div>
</div>
